body{
  background:#777;
  padding-top: 5%;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

#playArea {
  width: 500px;
  height: 500px;
  position: relative;
  margin: 0 auto;
}

#board {
  width: 500px;
  height: 500px;
  position: absolute;
  top: 0px;
  left: 0px;  
  border-radius: 50%;  
}

#panel {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 150px;
  left: 150px;  
  border-radius: 50%;
  background-color: #C0C0C0;
  border: 5px solid #000000;
}

#simon {
  width: 174px;
  height: 53px;
  position: absolute;
  top: 40px;
  left: 10px;
}

#round {
  width: 40px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid #000000;
  position: absolute;
  top: 110px;
  left: 25px;
  color: #C00000;
  background-color: #4F1F1F;
  font-size: 24px;
  line-height: 32px;
}

.label{
  width: 40;
  height: 10;
  font-size: 8px;
  line-height: 10px;
  color: #000000;
}

#lblRound {
  position: absolute;
  top: 140;
  left: 25;
}

#lblStart {
  position: absolute;
  top: 140;
  left: 84;
}

#lblStrict {
  position: absolute;
  top: 140;
  left: 133;
}

#lblVolume {
  position: absolute;
  top: 165;
  left: 75;
}

#start {
  width: 26px;
  height: 26px;
  position: absolute;
  top: 110px;
  left: 90px;  
  border-radius: 50%;
  border: 3px solid #333333;
  background-color: #FF0000; 
  box-shadow: 2px 2px 1px rgba(0, 0, 0, .5);
}

#start:active {
  box-shadow: none;
}

#strict {
  width: 26px;
  height: 26px;
  position: absolute;
  top: 110px;
  left: 140px;  
  border-radius: 50%;
  border: 3px solid #333333;
  background-color: #FFFF00; 
  box-shadow: 2px 2px 1px rgba(0, 0, 0, .5);
} 

#strict:active {
  box-shadow: none;
}

#strictLED {
  width: 10px;
  height: 10px;
  position: absolute;
  top: 95px;
  left: 148px;  
  border-radius: 50%;
  border: 1px solid #000000;
  background-color: #4F1F1F; 
} 

#volume {
  width: 100px;
  height: 5px;
  position: absolute;
  top: 160px;
  left: 45px;  
  border: 1px solid #000000;
  background-color: #0000FF;
} 

#board div {
  float:left;
  width:250px;
  height: 250px;
  box-sizing: border-box;   
  outline: none;
}

#btnGreen {
  border-top-left-radius: 100%;
  background-color:  #1FCC1F;
  border-top-width: 10;
  border-right-width: 5;
  border-bottom-width: 5;
  border-left-width: 10;
  border-style: solid;
  border-color: #000000;
}

#btnRed {
  border-top-right-radius: 100%;
  background-color:  #CC1F1F;
  border-top-width: 10;
  border-right-width: 10;
  border-bottom-width: 5;
  border-left-width: 5;
  border-style: solid;
  border-color: #000000;
}

#btnYellow {
  border-bottom-left-radius: 100%;
  background-color:  #CCCC1F;
  border-top-width: 5;
  border-right-width: 5;
  border-bottom-width: 10;
  border-left-width: 10;
  border-style: solid;
  border-color: #000000;
}

#btnBlue {
  border-bottom-right-radius: 100%;
  background-color:  #1F1FCC;
  border-top-width: 5;
  border-right-width: 10;
  border-bottom-width: 10;
  border-left-width: 5;
  border-style: solid;
  border-color: #000000;
}

.btn-simon {
  border-top:1px solid #5f5f5f;
  border-bottom: 1px solid #000000;
  border-left: 1px solid #1f1f1f;
  border-right: 1px solid #1f1f1f;
  background-color: #dfdfdf;
  color: #000000;
  margin: 3px;
  padding: 1px;
}

.btn-custom {
  border-top:1px solid #5f5f5f;
  border-bottom: 1px solid #000000;
  border-left: 1px solid #1f1f1f;
  border-right: 1px solid #1f1f1f;
  background-color: #dfdfdf;
  color: #000000;
  margin: 3px;
  padding: 1px;
}

.btn-custom:hover {
  background-color: #3f6fff !important;
  border: solid 1px #2A4E77;
  text-decoration: none;
  color: white;
}

.btn-custom:active {
  background-color: #0000ff !important;
  border: solid 1px #203E5F;
}

